		<div class="col-xs-6">
			<h4>Project Description</h4>
			<ul style="list-style-type: none;">
				<li>
					<b>Institution</b>: <a href="<%= project_institution_url %>"><%= project_institution %></a>
				</li>
				<li>
					<b>Homepage</b>: <a href="<%= project_homepage %>"><%= project_name %></a>
				</li>
				<li>
					<b>Launch Date</b>: <%= launch_date %>				
				</li>
				<li>
					<b>Description</b>: <%= project_description %>
				</li>
			</ul>
		</div>