<tr>
	<td>
		<a href="<%= project_homepage %>"><%= project_name %></a>
	</td>
	<td>
		<a href="/Projects/<%= project_pages %>/<%= project_pages %>.html">Rain</a>
	</td>
	<td>
		<a href="/Projects/<%= project_pages %>/<%= project_pages %>-details.html">Details</a>
	</td>
</tr>