<tr>
	<td>
		<a href="<%= project_homepage %>"><%= project_name %></a>
	</td>
	<td>
		<span id="<%= project_xml_name %>_WUs"></span>
	</td>
	<td>
		<span id="<%= project_xml_name %>_RAC"></span>
	</td>
	<td>
		<a href="/Stats/ServerStatus/<%= project_xml_name %>.xml" id="<%= project_xml_name %>_ServerStatus_URL">Server XML</a>
	</td>
	<td>
		<a href="/Stats/TeamStats/<%= project_xml_name %>.xml" id="<%= project_xml_name %>_TeamStats_URL">Team XML</a>
	</td>
	<td>
		<a href="/Projects/<%= project_pages %>/<%= project_pages %>.html">Rain</a>
	</td>
	<td>
		<a href="/Projects/<%= project_pages %>/<%= project_pages %>-details.html">Details</a>
	</td>
</tr>